body {
    font-family:  Roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
    
}

a {
    text-decoration: none;
    
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 24px;
    
}

.head-logo {
width: 250px;
}

.devgroll-logo {
    width: 150px;
}

.header-content {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    
}

.header {
  font-size: 24px;
  color: #F9FAF8;  
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text, .link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 100px;  
    
    
}

.header-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 100px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button-sign {
    background: #3882F6;
    color: #F9FAF8;
    width: 112px;
    padding: 8px;
    font-weight: bold;
    border: solid #1F2937 1px;
    border-radius: 12px;
}

.mid-one {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 50px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 100px;
}

.box-one, .box-two, .box-three, .box-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.dev-logo {
    width: 150px;
}

.box-text {
    color: #797b7e;
    font-size: 20px;
}